@font-face {
  font-family: "GimhaeGayaB";
  src: url("https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2202-2@1.0/GimhaeGayaB.woff")
    format("woff");
  font-weight: normal;
  font-style: normal;
}
